<center>
<h2>Editing book</h2>

<%= form_with model:@book,local:true do |f| %>
 <p>Title</p>
 <%= f.text_field:title,size:"60x5" %>
 <p>Body</p>
 <%= f.text_area:body ,size:"60x10"%>
 <div>
 <%= f.submit 'Update book' %>
 </div>
 <%= link_to 'Show',book_path(@book.id), class:"btn btn-success" %>
   |
 <%= link_to 'Back' ,books_path, class:"btn btn-danger" %>


<% end %>
</center>
